.container {
  height: 100vh;
  background-color: #030b18;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSidebar {
  width: 23%;
  margin-top: 10em;
  padding: 0 30px 30px 30px; /* top, right, buttom, left */
  border-radius: 15px;
  overflow-y: auto;
}

.leftSidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.leftSidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.leftSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.middleSection {
  width: 52%;
  margin-top: 10em;
  padding: 15px;
  border-radius: 15px;
  overflow-y: auto;
}

.middleSection::-webkit-scrollbar {
  width: 0.5rem;
}

.middleSection::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.middleSection::-webkit-scrollbar-track {
  background-color: transparent;
}

.rightSidebar {
  width: 25%;
  padding: 0 30px 30px 30px; /* top, right, buttom, left */
  border-radius: 15px;
  overflow-y: auto;
}

.rightSidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.rightSidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.rightSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.filterContainer {
  padding: 20px;
  border-radius: 15px;
  background-color: #1a1e28;
}

.filterHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1px;
}

.filterHeaderText {
  font-size: 16px;
  color: #00b3ff;
}

.filterHeaderImage {
  width: 16px;
  height: 16px;
}

.filterTextInput {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filterTextInput > text {
  font-size: 12px;
  color: #ffffff;
}

.filterTextInput > input {
  margin-top: 8px;
  width: 100%;
  height: 28px;
  font-size: 13px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 15px;
  color: #100f0f;
}

.filterTextInput > select {
  margin-top: 8px;
  width: 100%;
  height: 28px;
  font-size: 13px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 14px;
  color: #100f0f;
}

.filterButton {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  margin-top: 20px;
  background: linear-gradient(to right, #00b3ff, #4cc9ff);
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.searchBar > input {
  height: 45px;
  font-size: 15px;
  border-radius: 8px;
  background-color: #1a1e28;
  border: none;
  outline: none;
  padding-left: 18px;
  color: #ffffff;
}

.searchBar > img {
  width: 25px;
  height: 25px;
  margin-left: -40px;
  /* cursor: pointer; */
}

.suggestedSearch {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.suggestedSearch > text {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option {
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  background-color: #1a1e28;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}

.selectedOption {
  background-color: white;
  color: black;
}

.deselectOptionButton {
  margin-left: 10px;
  cursor: pointer;
}

.recomendedJobs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.recomendedJobs > text {
  font-size: 22px;
  color: #00b3ff;
  margin-bottom: 10px;
}

.recomendedJobs > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #00b3ff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
}

.highChanceJobs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.highChanceJobs > text:nth-child(1) {
  font-size: 22px;
  color: #00b3ff;
}

.highChanceJobs > text:nth-child(2) {
  font-size: 15px;
  color: #fff278;
  margin-bottom: 10px;
}

.highChanceJobs > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #fff278;
  text-decoration: underline;
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
}

.highChanceJobs > span > img {
  margin-left: 5px;
  height: 15px;
}

.moreJobs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.moreJobs > text:nth-child(1) {
  font-size: 22px;
  color: #00b3ff;
}

.moreJobs > text:nth-child(2) {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 10px;
}

.moreJobs > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #00b3ff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
}

.jobRow {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #0c1631;
}

.jobRow > img {
  padding: 15px;
  height: 130px;
  width: 130px;
  border-radius: 20px;
}

.jobRow > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.jobRowTopDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.jobRowTopDiv > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.jobRowTopDiv > div:nth-child(1) > text:nth-child(1) {
  color: #ffffff;
  font-size: 14px;
}

.jobRowTopDiv > div:nth-child(1) > text:nth-child(2) {
  color: #a7a7a7;
  font-size: 10px;
}

.jobRowTopDiv > div:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.jobRowTopDiv > div:nth-child(2) > text {
  display: flex;
  align-items: flex-start;
  color: #00b3ff;
  font-size: 12px;
  margin: 0 10px;
}

.jobRowTopDiv > div:nth-child(2) > text > img {
  height: 15px;
}

.jobRowTopDiv > div:nth-child(2) > img {
  height: 20px;
  margin-left: 15px;
}

.jobRowButtomDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.jobRowButtomDiv > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
  width: 100%;
  border-radius: 30px;
  background-color: #1b2b56;
}

.jobRowButtomDiv > div:nth-child(1) > div {
  display: flex;
  flex-direction: row;
}

.jobRowButtomDiv > div:nth-child(1) > div > text {
  display: flex;
  align-items: center;
  color: #d4d4d4;
  font-size: 10px;
  margin: 0 10px;
}

.jobRowButtomDiv > div:nth-child(1) > div > text > img {
  height: 15px;
}

.jobRowButtomDiv > div:nth-child(1) > span {
  display: flex;
  align-items: center;
  color: #00b3ff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
}

.jobRowButtomDiv > button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
  background: linear-gradient(to right, #00b3ff, #4cc9ff);
  cursor: pointer;
  font-weight: 500;
  font-size: 10px;
  color: #000000;
}

.rightButtonsContainer {
  color: #D4D4D4;
  padding: 20px;
  border-radius: 15px;
  background-color: #1a1e28;
}

.rightButtonsContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.rightButtonsContainer > div > text {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 12px;
}

.rightButtonsContainer > div > text > img {
  height: 15px;
  margin-right: 5px;
}

.rightButtonsContainer > div:hover {
  filter: brightness(100%) sepia(100%) saturate(10000%) hue-rotate(140deg);
}

/* @media screen and (max-width: 500px) {
   .rightSidebar{
    display: none;
   }
   .leftSidebar{
    display: none;
   }
   .middleSection{
    padding: 10px;
    margin-top: 100px;
    width: -webkit-fill-available;

   }
   .container{
    justify-content : center;
     width: -webkit-fill-available;

   }
} 

@media (max-width: 310px ){
  .middleSection{
    padding:0px !important;
    }

}
   */
