.outer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}

.profile {
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: capitalize;
    font-size: 18px;
}

.outerCont {
    width: 46%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.section1 {
    display: flex;
    gap: 18px;
    background: var(--bg-primary-blue, #0C1631);
    height: 195px;
    border-radius: 20px;

}

.imgCont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCont img {
    height: 67%;
    width: 82%;
    margin-left: 1rem;
}

.infoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}

.name {
    color: var(--white, #FFF);
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.infoCont p {
    color: var(--white-gray, #D4D4D4);
    font-family: Poppins;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

.location {
    color: var(--white-gray, #D4D4D4);
    font-family: Poppins;
    font-size: 13.333px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
}

.button {
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));
    display: flex;
    align-items: center;
    border-radius: 27px;
    justify-content: center;
    width: 87%;
    height: 32px;
    gap: 10px;
    color: var(--black, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.16px;
}

.iconsCont {
    flex: 0.8;
    display: flex;
    justify-content: flex-end;
    height: 17px;
    gap: 13px;
    margin-top: 44px;
}

.aboutsec {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: var(--bg-primary-blue, #0C1631);
    border-radius: 20px;
}

.heading {
    font-family: Poppins;
    font-size: 21.333px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.aboutsec p {
    width: 91%;
    color: white
}

.connectbtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 13px;
    width: 99%;
}

.videocall {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white, #FFF);
    gap: 5px;
    border-radius: 33px;
    width: 25%;
    height: 37px;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
}

.videocall img {
    height: 38%;
    width: 11%;
}

.message {
    border: 2px solid blue;
    border-radius: 25px;
    width: 25%;
    /* text-align: center; */
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.edusec {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--bg-primary-blue, #0C1631);
    border-radius: 20px;
}

.contactsec {
    padding: 32px;
    display: flex;
    flex-direction: column;
    background: var(--bg-primary-blue, #0C1631);
    border-radius: 20px;
}

.contactInfo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 5px;
    gap: 10px;
    font-size: 12px;
    color: var(--white-gray, #D4D4D4);
    padding: 5px;
}

.contactInfo img {
    width: 4%;
}

li {
    color: var(--white-gray, #D4D4D4);
    font-size: 11px;
}

ul {
    list-style-type: disc;
    padding: 23px;
}
@media(min-width:901px) and (max-width:1170px) {
    .iconsCont{
        height: 13px;
        gap: 10px;
    }
    .name{
        font-size: 16px;
    }
    .location{
        font-size: 11.33px;

    }
    .infoCont p{
        font-size: 11.33px;
    }
    .infoCont{
        width: 30%;
    }
    .button{
        width: 75%;
    }
    .aboutsec p{
        font-size: 13px;
    }
    .videocall{
        font-size: 13px;
        gap: 4px;
        width: 29%;
    }
    .connectbtn{
        width: 100%;
    }
    .message{
        font-size: 13px;
        width: 29%;
    }
    .button{
        gap: 6px;
        font-size: 13px;
    }
    .imgCont img{
        height: 61%;
    }
    .heading{
        font-size: 18.333px;
    }
    .contactInfo img {
        width: 4%;
    }
    
}
@media(min-width:701px) and  (max-width:900px){
    .section1{
        height:161px
    }
    .imgCont img{
        height: 62%;
        width: 79%;
    }
    .name{
        font-size: 14px;
    }
    .infoCont p{
        font-size: 9.333px;
    }
    .location{
        font-size: 9.333px;
    }
    .button{
        height: 25px;
        gap: 4px;
        font-size: 10px;
        width: 75%;
    }
    .iconsCont{
        height: 9px;
        margin-top: 35px;
        gap: 7px;
    }
    .heading{
        font-size: 16.333px;
    }
    .aboutsec p{
        font-size: 11px;
    }
    .videocall{
        font-size: 10px;
        gap: 4px;
        height: 32px;
        width: 29%;
    }
    .message{
        font-size: 10px;
        height: 32px;
        width: 29%;
    }
    .contactInfo img {
        width: 6%;
    }

}
@media(max-width:700px){
    .section1{
    height:143px
}
    .imgCont img{
        height: 58%;
        width: 79%;
    }
    .name{
        font-size: 12px;
    }
    .infoCont p{
        font-size: 8.333px;
    }
    .location{
        font-size: 8.333px;
    }
    .button{
        height: 23px;
        gap: 3px;
        font-size: 8px;
        width: 70%;
    }
    .iconsCont{
        height: 8px;
        margin-top: 28px;
        gap: 5px;
    }
    .heading{
        font-size: 14.333px;
    }
    .aboutsec p{
        font-size: 9px;
    }
    .videocall{
        font-size: 8px;
        gap: 4px;
        height: 32px;
        width: 29%;
    }
    .message{
        font-size: 8px;
        height: 32px;
        width: 29%;
    }
    .contactInfo img {
        width: 7%;
    }

}