/* body{
    background: #030B18;
}

.buttonWrapper{
    text-decoration: none;
    display: flex;
    left: 5rem;
    cursor: pointer;
    position: absolute;
    top: 10rem;
  }
.backButton{
    font-family:'Reem kufi';
    position: relative;
    text-decoration: none;
    color: white;
    top: -1px;
    height: 3rem;
    width: 8rem;
    border: none;
    border-radius: 2rem;
    font-weight: 200px;
  }
  .arrowClass{
    position: relative;
      top: -12px;
      left: -5px;
  }
  .backButton:hover{
    cursor: pointer;
    opacity: 0.7;
  }
.container{
    
}
.headingCont{
    color: white;
    position: absolute;
    top: 15rem;
    left: 5rem;
    height: 12rem;
    width: 41rem;

}
.h1Heading{
color: #FFF;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.imageCont{
    height: 31rem;
    width: 45rem;
    position: absolute;
    top: 16rem;
    left: 48rem;

}
.image{
    height: 100%;
    width: 100%;
    border-radius: 2rem;

}
.contentCont{
    color: white;
    position: absolute;
    top: 28rem;
    left: 5rem;

}
.upperText{
  margin-top: 4rem;
height: 23rem;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;
color: white;
position: absolute;
top: 24rem;
width: 40rem;
left: 5rem;
letter-spacing: 2px;

}
.lowerText{
    height: 18rem;
    width: 86rem;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;
color: white;
position: absolute;
top: 51rem;
left: 5rem;
letter-spacing: 2px;

}

@media screen and (max-width: 560px) {
  .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

  }
  .headingCont {
    left: 0rem;
    top: 14rem;
    width: 80%;
    height: auto;
  }
  .buttonWrapper {
    left: 2rem;
  }
  .h1Heading{
    font-size: 25px;
    padding-left: 30px;
  }
  .imageCont{
    width: 90%;
    height: 350px;
    position: absolute;
    top: 350px;
    left: 30px;
  }
  .upperText {
    top: 42rem;
    left: 30px;
    width: 25rem;
    font-size: 15px;
  }
  .lowerText {
    bottom: 0px;
    left: 30px;
    width:25rem;
    font-size: 15px;
    margin-top: 20rem;
  }
} */

* {
  box-sizing: border-box;
}

.sectionContainer {
  width: 100%;
  margin-top: 102px;
  height: 100%;
  padding: 40px 60px;
}

.image {
  width: 100%;
  max-height: 400px;
  border-radius: 20px;

}

.acont {
  color: rgb(62, 142, 171);
}

.buttonWrapper {
  width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buttonWrapper img {
  width: 40px;
}

.backButton {
  font-family: 'Reem kufi';
  text-decoration: none;
  color: white;
  font-weight: 200px;
  font-size: 25px;
}

.container {
  padding: 20px 0px;
}

.headingCont {
  width: 100%;
  margin-bottom: 20px;
}

.h1Heading {
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
}

.imageCont {
  width: 40%;
  height: 30%;
  float: right;
  border-radius: 20px;
  margin-left: 30px;
}


.upperText {
  color: white;
  font-size: 15px;
}

.lowerText {
  color: white;
  font-size: 15px;
  padding-top: 30px;
}

.Main_CardContainer {
  border: 1px solid grey;
  margin: 2rem;
  /* padding-bottom: 2rem; */
  padding: 5%;
}

.Card_ImgContainer {
  width: 100%;
  margin: 0rem auto 0rem auto;
  height: 50%;

}

.Card_ImgContainer img {
  width: 100%;
}

.Card_HeadingContainer {
  /* padding: 0rem 1rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card_Actions h2 {
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: white;
}

.Card_ContentContainer {
  /* padding: 0rem 0.8rem; */
}

.Card_ContentContainer p {
  /* width: 95%; */
  text-align: justify;
}

.Card_CreditContainer {
  padding: 0rem 1.4rem;
}

.blogHeading {
  color: white;
}

.authorInfo {
  color: white;
}

@media screen and (max-width: 560px) {
  .sectionContainer {
    padding: 20px 30px;
  }

  .buttonWrapper img {
    width: 30px;
  }

  .backButton {
    font-size: 25px;
  }

  .headingCont {
    width: 100%;
  }

  .h1Heading {
    font-size: 25px;
  }

  .imageCont {
    float: none;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .imageCont {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }
}