.aling{

    margin-left: 1%;
}
.people{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-top: 10%;
}

@media screen and (max-width:424px) {
    .people-card{
        display: flex;
        justify-content: center;
    }
}

