* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.vibeContainer{
    width: 100vw;
    height: calc(100vh - 102px);
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;    
}