* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.vibeContainer{
    width: 100vw;
    height: calc(100vh - 102px);
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;    
}

.mobileVibeContainer{
    width: 100vw;
    height: 85vh;
    margin-top: 100px;
   display: flex;
   flex-direction: column;
    padding: 10px;

}

/* ////dropdown//// */
.mobileVibeHeadercon{
    height: 40px;
    margin-bottom: 1px;
}
.container{
    /* padding-top: 50px; */
   
  }
    
    .menucontainer {
      position: relative;
      display: flex;
      justify-content: start;
      align-items: start;
      
    }
    
    .menutrigger {
      color: white;
      background: none;
      border-radius: 90px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 6px;
      /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
      border: none;
      vertical-align: middle;
      transition: box-shadow 0.4s ease;
      
    }
   
    
    .menutrigger:hover {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    }
    
    .menutrigger span {
      vertical-align: middle;
      margin: 0 10px;
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #ffff;
    }
    .greater{
        transform: rotate(180deg) !important;
       margin: 0 !important;
       padding: 0;
        border: none !important;
    }
    
    .menutrigger img {
      border-radius: 90px;
    }
    
    .menu {
      
      background: #1A1E28;
      
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 99;
      width: 90%;
      height: 228px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20px);
      transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    }
    
    .menu.active {
     
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    
    .menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .menu li {
     
      /* border-bottom: 1px solid #dddddd; */
     
      position: relative;
      font-size: 14px;
      line-height: 21px;
      font-weight: 500;
      padding: 20px;
      color: white;
      background-color: #1A1E28;
  }
  .menu li::after{
      content: "";
    position: absolute;
    height: 3px;
    background:linear-gradient(rgba(255, 255, 255, 0.02),rgba(255, 255, 255, 0.105));
    top: 90%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
   
  }
  .menu li:last-child::after{
      background: none;
  }
    