* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
}

.middleContainer {
    width: 35%;
    height: 100%;
    background-color: rgba(26, 30, 40, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.middleContainer::-webkit-scrollbar {
    width: 6px;
  }
  
  .middleContainer::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgba(0, 179, 255, 1), rgba(76, 201, 255, 1));
    border-radius: 5px;
  }


.filterContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: 20px;
}

.filterIcon {
    width: 15px;
    cursor: pointer;
}

.vibeinfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.userDetailsContainer {
    width: 50%;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
} 

.userProfilePucture {
    width: 100%;
}

.userName {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.userPosition {
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.locationCont {
    display: flex;
}

.locationIcon{
    width: 10px;
}

.location {
    color: gray;
    font-size: 12px;
}

.details {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Heading {
    background: linear-gradient( rgba(0, 179, 255, 1), rgba(76, 201, 255, 1)); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    font-weight: 600;
    
}

.aboutDetails {
    color: white;
}

.whyamIHere {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.whyamIHereCont{
    display: flex;
    gap: 10px;
}

.whyamIHereItem {
    height: 30px;
    background-color: white;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.designation {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.designationInfo {
    color: white;
}

.designationDetails{
    color: rgba(255, 255, 255, 0.8);
}

.education {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.educationInstitute {
    color: white;
}

.designationDetails {
    color: rgba(255, 255, 255, 0.8);
}

.howCanWeMeet {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meetingTypeCont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.typeContainer {
    background-image: linear-gradient(rgba(0, 179, 255, 1), rgba(76, 201, 255, 1));
    width: 80px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.meetingTypeImg {
    width: 80%;
}

.meetingType {
    color: black;
    font-size: 12px;
}

.findMeOn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.findmeOnWraper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.findmeCont {
    display: flex;
    gap: 20px;
}

.findmeDetails {
    color: white;
    font-size: 16px;
}

