@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.vibeContainer {
  width: 100vw;
  height: calc(100vh - 102px);
  display: flex;
  justify-content: space-evenly;
  /* margin-left: 2rem; */
  /* margin-right: 2rem; */
  margin: auto auto;
  margin-top: 102px;
  /* gap: 6rem; */
  padding: 40px;
  /* padding-left: 7rem;
  padding-right: 7rem; */
  align-items: center;
}

.mobileVibeContainer {
  width: 100vw;
  height: 85vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/* ////dropdown//// */
.mobileVibeHeadercon {
  height: 40px;
  margin-bottom: 1px;
}
.container {
  /* padding-top: 50px; */
}

.menucontainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menucontainer p {
  font-size: 12px;
  font-weight: 500;
  background: -webkit-linear-gradient(#00b3ff, #4cc9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  text-decoration-color: #00b3ff;
}

.menutrigger {
  color: white;
  background: none;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); */
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menutrigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menutrigger span {
  vertical-align: middle;
  margin: 0 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #ffff;
}
.greater {
  transform: rotate(180deg) !important;
  margin: 0 !important;
  padding: 0;
  border: none !important;
}

.menutrigger img {
  border-radius: 90px;
}

.menu {
  background: #1a1e28;

  position: absolute;
  top: 40px;
  right: 60px;
  z-index: 99;
  width: 80%;
  height: 228px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  /* border-bottom: 1px solid #dddddd; */

  position: relative;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  padding: 20px;
  color: white;
  background-color: #1a1e28;
}
.menu li:last-child {
  color: #fff278;
  /* background: -webkit-linear-gradient(#FFF278, #F8B533);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent; */
}
.menulgt {
  position: absolute;
  right: 30px;
}

.menu li::after {
  content: "";
  position: absolute;
  height: 3px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.105)
  );
  top: 90%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.menu li:last-child::after {
  background: none;
}
