.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #030b18;
}

.mainContent > img {
  display: flex;
  position: absolute;
  right: 20px;
  height: 100vh;
}

.leftComponent {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.leftComponent > button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-top: 70px;
  background: linear-gradient(to right, #00b3ff, #4cc9ff);
  cursor: pointer;
  font-weight: 700;
  color: #000000;
}

.passInput {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.passwordContainer {
  position: relative;
  margin-top: 8px;
  width: 350px;
  height: 20px;
}

.passwordContainer > input {
  font-size: 15px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 40px;
  color: #100f0f;
}

.toggleButton {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #A7A7A7;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.toggleButton > svg {
  width: 20px;
  height: 20px;
}
