.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #030b18;
}

.mainImage {
  display: flex;
  /* position: absolute;
  right: 20px; */
  height: 100vh;
}

.leftComponent {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.leftComponent > button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-top: 70px;
  background: linear-gradient(to right, #00b3ff, #4cc9ff);
  cursor: pointer;
  font-weight: 700;
  color: #000000;
}

.passInput {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.passwordContainer {
  position: relative;
  margin-top: 8px;
  width: 350px;
  height: 20px;
}

.passwordContainer > input {
  font-size: 15px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 20px;
  padding-right: 40px;
  color: #100f0f;
}

.toggleButton {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #a7a7a7;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.toggleButton > svg {
  width: 20px;
  height: 20px;
}

.hiddenOnMobile {
  display: block;
}
.hiddenOnDesktop {
  display: none;
}

@media (max-width: 430px) {
  .mainContent {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 8rem;
    box-sizing: border-box;
  }
  .mainImage {
    height: 30vh;
  }
  .leftComponent {
    margin-left: 0;
  }
  .textInput {
    margin-top: 1.5rem;
  }
  .leftComponent > button {
    margin-top: 1.5rem;
  }
  .passInput {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .passwordContainer {
    width: 80vw;
  }
  .toggleButton {
    top: 0;
  }
  .hiddenOnMobile {
    display: none;
  }
  .hiddenOnDesktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
