.container {
  height: 100vh;
  background-color: #030b18;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSidebar {
  width: 25%;
  padding:30px 30px;
  border-radius: 15px;
  overflow-y: auto;
  padding-left: 50px;
}

.leftSidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.leftSidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.leftSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.middleSection {
  width: 50%;
  padding: 29px 0px;
  border-radius: 15px;
  overflow-y: auto;
}

.middleSection::-webkit-scrollbar {
  width: 0.5rem;
}

.middleSection::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.middleSection::-webkit-scrollbar-track {
  background-color: transparent;
}

.rightSidebar {
  width: 25%;
  padding:30px 30px;
  border-radius: 15px;
  overflow-y: auto;
  padding-right: 50px;
}

.rightSidebar::-webkit-scrollbar {
  width: 0.5rem;
}

.rightSidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.rightSidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
@media screen and (max-width: 500px) {
   .rightSidebar{
    display: none;
   }
   .leftSidebar{
    display: none;
   }
   .middleSection{
    padding: 10px;
    margin-top: 100px;
    width: -webkit-fill-available;

   }
   .container{
    justify-content : center;
     width: -webkit-fill-available;

   }
} 

@media (max-width: 310px ){
  .middleSection{
    padding:0px !important;
    }

}
  