.upgrade_container_outer {
  background-color: #000c12;
  /* min-height: 100vh; */
  border-radius: 25px;
  padding: 0px;
  background-color: rgba(26, 30, 40, 1);

  width: 70em;
  height: 40em;


}

.back_icon {
  color: #f6f6f6;
  cursor: pointer;
  position: absolute;
  top: 4%;
  left: 2%;
}

.upgrade_container_main {
  display: flex;
  padding-top: 1%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

.upgrade_container_main>h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #fff468;
}

.upgrade_container_main>h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
  /* letter-spacing: 0.001em; */
  margin-top: 1rem;
  color: #ffffff;
}

.upgrade_container_main>h1>span {
  color: #fff468;
}

.upgrade_container_main>p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 1rem 0;
  line-height: 34px;
  /* or 200% */
  letter-spacing: 0.001em;

  color: rgba(255, 255, 255, 0.81);
}

.plans_card {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  gap: 3.5rem;
  margin: 10px auto;
  flex-wrap: wrap;
}

.plan_card_1,
.plan_card_2,
.plan_card_3,
.plan_card_4 {
  color: black;
  width: 290px;
  box-shadow: inset -1.57939px -3.15877px 7.89694px rgba(156, 155, 155, 0.25);
  border-radius: 16px;
  text-align: center;
  padding: 0px;
  /* height: 530px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.plan_card_1 {
  background: linear-gradient(329deg, #E4FFF9 0%, #E4FFF9 0.01%, #00FFC2 100%);
}

.plan_card_2 {
  background: var(--linear, linear-gradient(329deg, #E4FFF9 0%, #E4FFF9 0.01%, #2A72DE 100%));
}

.plan_card_3 {
  background: linear-gradient(329deg, #F8E4FF 0%, #E4FFF9 0.01%, #DE2AD7 100%);
  /* background: linear-gradient(91.13deg, #02d0fd 12.01%, #03659c 90.49%); */
}

.plan_card_4 {
  background: linear-gradient(91.13deg, #9765e9 12.01%, #37149a 90.49%);
}

.planCrossedprice {
  text-decoration: line-through;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}

.plan_duration {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: 1rem 0 0.3rem 0;
  /* color: #ffffff; */
}

.plan_price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: black;
  border-radius: 12px;
  width: 82%;
  padding: 2px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan_price>span {
  font-size: 15px;
}

.plan_divider {
  border: 1.18454px solid #ffffffb5;
  margin: 1rem auto;
  width: 70%;
}

.plan_desc {
  margin-top: 1rem;

  text-align: start;
  padding-left: 1rem;
  /* list-style: disc; */
}

.plan_desc>div>li {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.plan_desc>li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* .plan_desc>div>li:before {
  padding-left: 1rem;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
} */

.plan_desc>li:before {
  content: "\2022";
  /* color: #fff; */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.plan_buy_btn {
  background: #ffffff;
  border-radius: 19.7423px;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 3rem;
  cursor: pointer;
  outline: none;
  margin-top: 2rem;
}

.plan_tnc {
  font-family: Poppins;
  font-size: 12px !important;
  font-weight: 500;
  margin-left: 63rem !important;
}

.plan_tnc>span {
  /* color: #006dff; */
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 1210px) {
  .plans_card {
    width: -webkit-fill-available;
  }

  .plan_tnc {
    margin-left: 0 !important;
  }
}

@media (max-width: 845px) {
  .plans_card {
    width: 100%;
  }
}

@media (max-width: 500px) {


  .upgrade_container_outer {
    height: unset;
    width: unset;
    padding: 10p 15px;
    height: 45em;
    overflow-y: scroll
  }


  .plans_card {
    margin: unset;
    width: -webkit-fill-available;
    margin: 8px 20px;

  }

  .plan_card_1,
  .plan_card_2,
  .plan_card_3,
  .plan_card_4 {
    width: -webkit-fill-available;

  }

  .upgrade_container_main>h1 {

    margin-top: 3rem;

  }

  .upgrade_container_main {
    text-align: center;
  }

  .upgrade_container_main>h1 {
    text-align: center;
  }
}