.filterWrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  color: #fff;
  padding: 1rem 2rem;
  gap: 2rem;
  height: 85vh;
  overflow-y: scroll;
  border-radius: 16px;
}
.filterWrapper::-webkit-scrollbar {
  width: 6px;
 
}
.filterWrapper::-webkit-scrollbar-track{
  background: #373A3F80;
  
}

.filterWrapper::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 5px;
  
}

.filterWrapper {
  display: flex;
  flex-direction: column;
 
}
.filterTitle {
  font-family: Reem Kufi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.filterContent {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.filterItemSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 87.273px;
  padding: 0.5rem 1rem;
  background: var(--blue, linear-gradient(97deg, #00b3ff 57.09%, #4cc9ff 100%));
  color: #000;
}
.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 87.273px;
  padding: 0.3rem 1rem;
  border-radius: 87.273px;
  background-color: transparent;
  border: 0.873px solid #fff;
}
.meetingCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: var(--blue, linear-gradient(97deg, #00b3ff 57.09%, #4cc9ff 100%));
  padding: 2rem 1rem;
}
.meetingCardTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doneBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 87.273px;
  padding: 0.5rem 1rem;
  background: var(--blue, linear-gradient(97deg, #00b3ff 57.09%, #4cc9ff 100%));
  color: #000;
}

input[type="range"] {
  width: 30rem;
  height: 2px;
  -webkit-appearance: none;
  background-color: #d3d3d3;
  outline: none;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  cursor: pointer;
}
