.transactioncontainer {
  width: 75%;
  margin: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-top {
  display: flex;
  gap: 20px;
  /* background-color: #1a1e28; */
  text-align: center;
  padding: 10px 0;
}

.table-header {
  flex: 1;
}

.transactionrow {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #1a1e28;
  height: 70px;
  border-bottom: 15px solid #030b18;
  color: #fff;
  text-align: center;
}

.transactiond {
  flex: 1;
}
.right {
  flex: 2;
  display: flex;
}

.transactionddiv {
  display: flex;
  align-items: center;
  gap: 8px;
}
.transactionddiv > img {
  margin-right: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 2rem;
}

/* Media query for 480px mobile view */
@media (max-width: 480px) {
  .transactioncontainer {
    width: 90%;
  }
  .transactionrow {
    align-items: center;
    padding: 10px;
    padding: 1.5rem 0rem;
    width: 100%;
    gap: 0px;
  }
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
  }
  .right {
    flex: 2;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .profile > img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .table-top {
    display: none;
  }

  .transactiond {
    text-align: center;
  }
  .right-item > span {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}
