/* Styles for the container div */
.support-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding-bottom: 3rem;
}

/* Styles for the content div */
.support-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styles for the heading */
.support-heading {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

/* Styles for the text */
.support-text {
  color: white;
  font-size: 25px;
  font-weight: normal;
}

/* Styles for the highlighted text */
.highlight {
  color: #4cc9ff;
}

/* Styles for the support button */
.support-button {
  background-color: #00b3ff;
  width: 140px;
  height: 40px;
  font-size: 25px;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

/* Styles for the image */
.support-image {
  width: 400px;
  padding-top: 80px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .support-container {
    flex-direction: column;
    gap: 40px;
  }

  .support-content {
    align-items: center;
  }

  .support-image {
    width: 300px;
  }
}
