.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #030b18;
}

.mainImage {
  display: flex;
  /* position: absolute;
  right: 20px; */
  height: 100vh;
}

.leftComponent {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.leftComponent > button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-top: 50px;
  background: linear-gradient(to right, #00b3ff, #4cc9ff);
  cursor: pointer;
  font-weight: 700;
  color: #000000;
}

.textInput {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.textInput > input {
  margin-top: 8px;
  width: 350px;
  height: 40px;
  font-size: 15px;
  border-radius: 25px;
  background-color: #ffffff;
  border: none;
  outline: none;
  padding-left: 20px;
  color: #100f0f;
}


.hiddenOnMobile {
  display: block;
  font-family: 'Reem Kufi';
}
.hiddenOnDesktop {
  display: none;
}

@media (max-width: 430px) {
  .mainContent {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 8rem;
    box-sizing: border-box;
  }
  .mainImage {
    height: 30vh;
  }
  .leftComponent {
    margin-left: 0;
  }
  .textInput {
    margin-top: 1.5rem;
  }
  .leftComponent > button {
    margin-top: 1.5rem;
  }

  .hiddenOnMobile {
    display: none;
  }
  .hiddenOnDesktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;  }
}