.Main_CardContainer {
    border: 1px solid grey;
    margin: 2rem;
    padding-bottom: 2rem;
  }
  
  .Card_ImgContainer {
    width: 100%;
    margin: 0rem auto 0rem auto;
    height: 50%;
  }
  
  .Card_ImgContainer img {
    width: 100%;
  }
  
  .Card_HeadingContainer {
    padding: 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Card_Actions h2 {
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  
  .Card_ContentContainer {
    padding: 0rem 0.8rem;
  }
  .Card_ContentContainer p {
    width: 95%;
  }
  
  .Card_CreditContainer {
    padding: 0rem 1.4rem;
  }
  