.container{
    margin-top: 2rem;
    

}
.header{
    padding-top: 1rem;
    padding-left: 20px;

}
.content{
    margin-top: -10px;

}
.allCards{
    background: #1a1e28;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    margin-bottom: 9px;
}
.allCards:hover{
    cursor: pointer;
}
.articleImage{
    height: 74%;
    width: 25%;
    border-radius: 9px;
    margin: 5px;

}
.viewMore{
    height: 2rem;
    width: 5rem;
    border-radius: 2rem;
    position: relative;
    top: -17px;
    right: -214px;
    font-size: 10px;
    color: #00B3FF;

}

.articledetails{
    height: 4rem;

}
.articleheading{
    color:white;
    font-size:10px;
    margin-bottom:5px;

}
.articledesc{
    font-size:7px;
    color: white;

}
