.form {
    margin-top: 13em;
    width: 70%;

}

.heading {
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #30c0fe;
    background-clip: text;

    margin-bottom: 2em;
    margin-top: 3em;

}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#about {
    background-color: var(--bg-secondary-gray, #1a1e28);
    color: var(--text-primary-color, #ffffff);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 60% !important;
    flex: 4 1;
    box-sizing: border-box;
    margin-left: unset;
    text-decoration: none;
}

#joblocation,
#jobtype {
    background-color: var(--bg-secondary-gray, #1a1e28);
    color: var(--text-primary-color, #ffffff);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    flex: 4 1;
    box-sizing: border-box;
}

.skillstag {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    background-color: #fff;
    padding: 5px 15px;
    margin: 8px;
    border-radius: 20px;


}

.skills {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 77%;
    flex-wrap: wrap;
}

.subHeading {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
    margin-top: 2em;
}

.btnsgrp {
    display: flex;
    margin-bottom: 5em;
}

.postbtn {
    display: flex;

    width: 184px;
    height: 42px;

    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 9.388px;
    border-radius: 81.929px;
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));
    color: var(--black, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    outline: none;
    border: none;
    margin-right: 2em;
    cursor: pointer;
}

.prev {
    display: flex;

    width: 184px;
    height: 42px;

    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 9.388px;
    border-radius: 81.929px;
    background: unset;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    outline: none;
    border: 2px solid #30c0fe;
    cursor: pointer;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.checkinput {
    width: 2%;
}

.check input {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.6px;

}

.highlight {
    color: #30c0fe;
}

.backbtn {
    cursor: pointer;
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    top: 6.5em;
    left: 2em;
    background: none;
    border: none;
}

.required {
    color: #ff0000;
}

.inputcheck {
    width: 9%;
    margin-right: 15px;
}

.checklist label {

    display: flex;
    justify-content: left;
    align-items: center;

}

.checklist {
    display: flex;
    justify-content: center;
    align-items: center;

}

.labeldiv {
    display: flex;
    justify-content: left;
    width: 77%;

}

.labeldiv label {
    color: var(--gray, #A7A7A7);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}

.addquestion p {

    display: flex;
    padding: 8.727px 24px;
    align-items: flex-start;
    gap: 8.727px;
    border-radius: 87.273px;
    border: 1px solid #FFF;
    width: fit-content;
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 1eem;
    margin-top: 3em;
    margin-bottom: 4em;
    cursor: pointer;
}