.block{
    width: 80%;
    height: 32em;
    background: var(--bg-primary-blue, #0C1631);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
    border-radius: 10px;

}
.btn{
    display: flex;
    width: 204px;
    height: 50px;
    padding: 8px 30px;
    justify-content: center;
    align-items: center;
    gap: 9.388px;
    border-radius: 81.929px;
    background: var(--blue, linear-gradient(97deg, #00B3FF 57.09%, #4CC9FF 100%));
    border: none;
    color: var(--black, #000);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.52px;
    cursor:pointer
}
.para{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0px 40px 0px;

}

.leftPart{
    width: 39%;
    padding-left: 2em;

}

.rightPart{
    width: 50%;
}
.heading{
    font-family: Reem Kufi;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;

}
