.news-section{
   
}
.news{
    padding-left: 7%;
}

.row{
    display: grid;
    grid-template-columns: 50% 50%;

   
}

@media screen and (max-width: 950px) {
    .row{
       
        grid-template-columns: 100%;
    }
}