.align {
    margin-left: 8%;
}

.people-suggest {
    margin: 0 20px;
}


@media screen and (max-width: 560px) {

    .people-suggest {
        margin: 0;
    }


    .align {
        margin: 0px;
    }

    .suggest-section {
        width: 100%;
        margin-top: 200px;
    }
}

@media screen and (min-width: 950px) and (max-width: 1120px) {

    .align {
        height: 100%;
    }
}