.funding_input_div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
}

.funding_input_div > label {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  margin-left: 0rem;
}
.input > input,
.textarea > textarea,
.dropdown > select {
  border: none;
  outline: none;
  /* width: 100%; */
  background: #f2f2f2;
  color: #000;
  border-radius: 5px;
}
.funding_input_div > input {
  border: none;
  outline: none;
  /* width: 100%; */
  background: #f2f2f2;
  color: #000;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}
