* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.EventsformContainer {
  width: 100vw;
  height: calc(100vh - 110px);
  display: flex;
  margin-top: 110px;
  justify-content: center;
  align-items: center;
  color: white;
}

.EventsformInnerContainer {
  width: 70%;
  height: 95%;
  background: #0C1631;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eventsformheader {
  height: 6%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-top: 30px;
  border-bottom: 1px solid #A7A7A7B2;
}

.eventsformheader p:first-of-type {
  font-weight: 700;
  font-size: 20px;

}

.eventsformheader span {
  background: -webkit-linear-gradient(#00B3FF, #4CC9FF);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.eventsformheader p:last-of-type {
  font-size: 20px;
}

.eventsformmain {
  display: flex;
  height: 100%;
  width: 100%;
}

.eventsformmainleft {
  width: 50%;
  border-right: 1px solid #A7A7A7B2;
}

.eventsformmainright {
  width: 50%;

}

.eventforminputdiv label {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}

.eventforminputdiv {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 20px;
}

.eventforminp {
  width: 300px;
  height: 35px;
  background: none;
  border-radius: 0px;
  border-bottom: 1px solid #A7A7A7;
  color: white;
  padding: 0;
  margin-left: 25px;
}



.eventformbnrimg {
  background: #4B4B4BB2;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  border-radius: 8px;
}

.eventformbnrimg label {
  color: #00B3FF;
  text-align: center;
  border: 1px solid #4CC9FF;
  border-radius: 100px;
  font-size: 10px;
  padding: 7px;
}

.eventforminputdivdate {
  display: flex;
  gap: 15px;
}

.eventforminputdivdate div {
  width: 150px;
  margin-left: 28px;
  margin-top: 20px;
}

.eventforminpdate {
  width: 160px;
  height: 30px;
  background: none;
  border-radius: 0px;
  border-bottom: 1px solid #A7A7A7;
  color: white;
  padding: 0;
  margin-left: 28px;
}

.eventformradiodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-left: 53px;
}

.eventformradiodiv p {
  margin-right: 10px;
}

.eventformradiodiv input {
  width: 20px;

}

.eventformradiodiv label {
  margin-left: 0px;
  margin-right: 0px;
}



/* right side */
.eventforminputdiv textarea {
  background: #4B4B4BB2;
  border: none;
  height: 100px;
  width: 80%;
  margin-left: 20px;
  font-size: 15px;
  color: white;
}



.eventformcreatetimelinediv {
  display: flex;
  margin-left: 24px;
  margin-right: 70px;
}

.eventformcreatetimelinediv input {
  background: #4B4B4BB2;
  height: 35px;
  width: 110px;
  border-radius: 0px;

  color: white;
  padding: 10px;
  margin-left: 10px;
}

.eventformcreatetimelinediv input:last-of-type {
  width: 200px;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: #4B4B4BB2;
  background-image: none;
  cursor: pointer;
}

/* Remove IE arrow */
/* select::-ms-expand {
    display: none;
  } */
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20px;
  height: 35px;
  border-radius: .25em;
  overflow: hidden;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: #f39c12;
}

.capsule {
  background: none;
  display: flex;
  justify-content: flex-end;
  /* justify-content: end; */

}

.capsulep {
  margin-top: 5px;
  border: 1px solid #FFFFFF;
  padding: 4px;
  font-size: 10px;
  border-radius: 10px;
  margin-right: 70px;
}

.capsulep2 {
  margin-top: 10px;
  border: 1px solid #FFFFFF;
  padding: 4px;
  font-size: 10px;
  border-radius: 10px;
  /* margin-right: 70px; */
}

.userprofilepicdiv {
  margin-left: 24px;
  margin-top: 4px;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.userprofilepicdiv div {
  height: 40px;
}

.userprofilepicdiv div img {
  height: 35px;
}

.moreprofilepiccount {
  height: 20px !important;
  width: 20px;
  background: #4B4B4BB2;
  border-radius: 100px;
  text-align: center;
  font-size: 13px;
}


/* ///buton/// */

.lastrightbtndiv {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  /* justify-content: end; */
  align-items: center;
}

.btncontainer {
  margin-right: 10%;
  display: flex;
  gap: 20px;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #00B3FF;
  width: 90px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background: -webkit-linear-gradient(#00B3FF, #4CC9FF);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

.btn2 {
  width: 120px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: linear-gradient(to right, #00B3FF, #4CC9FF);
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 500;
}