.article-box {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 135px;
    width: 750px;
    margin: 1px 20px;
    align-items: center;
    /* border-radius: 13.389px; */
    background: var(--bg-secondary-gray, #1A1E28);
  
  }
  
  .article-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex-grow: 1; /* Added */
  }
  
  .article-image {
    height: 75px;
    width: 115px;
    margin-right: 20px; /* Added */
    margin-left: 20px;
  }
  
  .article-link {
    margin-top: auto;
    color: white;
    /* text-decoration: none; */
    margin-right: 20px;
    white-space: nowrap;
    text-align: right;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
  }
  


  .article-heading{
    color: #FFF;
    /* font-size: 23px; */
    font-size: 90%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }



  .article-desc{
    color: var(--white, #FFF);;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 14px; */
    font-size: 67%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 2px 2px;
  }
  @media screen and (max-width: 1160px){
    .article-image{
      margin-right: 0px;
    }
    .article-heading{
      font-size: 70%;
    }
    .article-desc{
      font-size: 57%;
    }
  }

  @media screen and (max-width: 560px) {
    .article-image {
      max-width: 100px;
    }
    .article-box {
      width: 100%;
      margin: 0;
  }
  .article-heading{
    font-size: 12px;
  }
  .article-desc{
    font-size: 10px;
  }
  .article-details {
    margin-left: 0px;
  }
}

@media screen and (max-width: 472px) {
.article-desc{
  display: none;
}
}


@media screen and (max-width: 350px) {
  .article-heading{
    font-size: 8px;
  }
  .article-details {
    margin-left: 0px;
    padding-right: 20px;
  }
  }

